body {
  font-family: Arial, sans-serif;
   background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.register-box {
  padding: 30px;
  background-color: white;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  width: 20rem;
}

input{
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
}

input:focus{
  outline: none;
  border: 2px solid #0083b0;
}



.error{
  border: 2px solid red;
}

.register-box label{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}

.register-box button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.register-box button {
  background: #0083b0;
  color: #fff;
  cursor: pointer;
}

